.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.button {
  background-color: #ddd;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  cursor: pointer;
}

.button:focus {
  background-color: #888;
  outline: none;

}