body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #eee;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app--container {
  margin: 10px 0px;
}

@media screen and (min-width: 651px) {
  .app--container {
    width: 600px
  }
}

@media screen and (max-width: 650px) {
  .app--container {
    width: 400px
  }
}

/* @media screen and (max-width: 700px) */